<div class="student-component">
  <header class="header">
    <div class="header-left">
      <img src="../../../assets/grad_cap.jpg" alt="">
      
      <p><b>Welcome to SDA</b> School Management System</p>
    </div>


    <div class="header-right">
      <div class="header-right-container">
        <img src="../../../assets/person-logo.jpg" alt="Log Out">

        <div>
          <b>John</b>
          <p>Student</p>
        </div>
      </div>
      
      <fa-icon [icon]="faSignOutAlt" class="log-out-logo"></fa-icon>
    </div>
  </header>

  <section class="section-top">
    <div class="breadcrumb">
      <h5>Home - Student</h5>
    </div>

    <div class="cards">
      <div class="card">John Doe</div>
      <div class="card">Average grade<span class="grade">4.5</span></div>
      <div class="card">Attendance<span class="attendance">95</span>%</div>
      <div class="card session">
        <p>Next session</p>
        <p>24.04.2022 - 19:00</p>
      </div>
    </div>
  </section>

  <section class="section-middle">
    <div class="profile-left">
      <div class="profile">
        <img src="../../../assets/person-logo.jpg" alt="student">

        <div class="profile-table">
          <div class="profile-table-heading">
            <p>Name:</p>
            <p>Age:</p>
            <p>Date of Birth:</p>
            <p>Email:</p>
            <p>Occupation:</p>
            <p>Phone:</p>
            <p>Joined:</p>
          </div>
          <div class="profile-table-values">
            <p>John Doe</p>
            <p>23</p>
            <p>25.01.1999</p>
            <p>john.doe@gmail.com</p>
            <p>Student</p>
            <p>+372 5557 2982</p>
            <p>02.03.2022</p>
          </div>
        </div>
      </div>

      <img src="../../../assets/students.jpg" alt="graduation">
    </div>

    <div class="profile-right">
      <div class="courses">
        Course List
      </div>

      <app-grades></app-grades>
    </div>
  </section>

  <app-footer></app-footer>
</div>