<div class="student-component">
  <header class="header">
    <div class="header-left">
      <img src="../../../assets/grad_cap.jpg" alt="">
      
      <p><b>Welcome to SDA</b> School Management System</p>
    </div>

    <app-logout [currentUser]="currentUser"></app-logout>
  </header>

  <section class="section-top">
    <div class="breadcrumb">
      <h5>Home - {{ currentUser.role }}</h5>
    </div>

    <div class="cards">
      <div class="card">{{ currentUser.firstName }} {{ currentUser.lastName }}</div>
      <div class="card">Average grade<span class="grade">4.5</span></div>
      <div class="card">Attendance<span class="attendance">95</span>%</div>
      <div class="card session">
        <p>Next session</p>
        <p>24.04.2022 - 19:00</p>
      </div>
    </div>
  </section>

  <section class="section-middle">
    <div class="profile-left">
      <div class="profile">
        <img [src]="
        currentUser.gender === 'Male' ? maleImageUrl :
        currentUser.gender === 'Female' ? femaleImageUrl :
        defaultImageUrl" alt="student">

        <div class="profile-table">
          <div class="profile-table-heading">
            <p>Name:</p>
            <p>Gender:</p>
            <p>Age:</p>
            <p>Date of Birth:</p>
            <p>Email:</p>
            <p>Occupation:</p>
            <p>Phone:</p>
            <p>Joined:</p>
          </div>
          <div class="profile-table-values">
            <p>{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
            <p>{{ currentUser.gender }}</p>
            <p>28</p>
            <p>{{ currentUser.dob }}</p>
            <p>{{ currentUser.email }}</p>
            <p>{{ currentUser.role }}</p>
            <p>{{ currentUser.mobile }}</p>
            <p>{{ currentUser.createdAt }}</p>
          </div>
        </div>
      </div>

      <img src="../../../assets/students.jpg" alt="graduation">
    </div>

    <div class="profile-right">
      <div class="courses">
        Course List
      </div>

      <app-grades></app-grades>
    </div>
  </section>

  <app-footer></app-footer>
</div>