<div class="student-component">
  <div class="student-component-container">
    <app-header
      *ngIf="currentUserLoaded"
      [currentUser]="currentUser.user"
    ></app-header>

    <section class="section-top">
      <div class="breadcrumb">
        <h5 *ngIf="currentUserLoaded">Home - {{ currentUser.user.role }}</h5>
      </div>

      <div class="cards">
        <div class="card">
          <div class="card-info">
            <p>{{ currentUser.nextSession | date: 'short' }}</p>

            <p *ngIf="currentUser.nextSession">Next session</p>
            <p *ngIf="!currentUser.nextSession">No Upcoming Sessions</p>
          </div>

          <fa-icon [icon]="faBook" class="card-icon"></fa-icon>
        </div>

        <div
          class="card highlight"
          (click)="toggleGrades()"
          [ngStyle]="{
            'box-shadow' : showGrades ? '0px 0px 6px 1px rgba(0,0,0,0.75)' : 'none'
          }"
        >
          <div class="card-info">
            <span *ngIf="currentUser.averageGrade">
              {{ currentUser.averageGrade }}
            </span>

            <span *ngIf="currentUser.averageGrade === null">
              --
            </span>

            <p>Avg. grade</p>
          </div>

          <fa-icon [icon]="faChartLine" class="card-icon"></fa-icon>

          <div class="expand">
            <p>
              More info
              <fa-icon [icon]="faPlusCircle"></fa-icon>
            </p>
          </div>
        </div>

        <div
          class="card highlight"
          (click)="toggleAttendance()"
          [ngStyle]="{
            'box-shadow' : showAttendance ? '0px 0px 6px 1px rgba(0,0,0,0.75)' : 'none'
          }"
        >
          <div class="card-info">
            <span>{{ currentUser.attendancePercentage | number: '1.0-0' }}</span>
            <p>Attendance</p>
          </div>

          <fa-icon [icon]="faPercentage" class="card-icon"></fa-icon>

          <div class="expand">
            <p>
              More info
              <fa-icon [icon]="faPlusCircle" class="info-btn"></fa-icon>
            </p>
          </div>
        </div>

        <div
          class="card highlight"
          (click)="toggleCourses()"
          [ngStyle]="{
            'box-shadow' : showCourses ? '0px 0px 6px 1px rgba(0,0,0,0.75)' : 'none'
          }"
        >
          <div class="card-info">
            <span *ngIf="currentUserLoaded">
              {{ onGoingCourses }}
            </span>

            <p>Courses</p>
          </div>

          <fa-icon [icon]="faGraduationCap" class="card-icon"></fa-icon>

          <div class="expand">
            <p>
              More info
              <fa-icon [icon]="faPlusCircle" class="info-btn"></fa-icon>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-top-card-info" *ngIf="showGrades">
      <app-student-grade-table [currentUser]="currentUser.user"></app-student-grade-table>
    </section>

    <section class="section-top-card-info" *ngIf="showAttendance">
      <app-student-attendance-table [currentUser]="currentUser.user"></app-student-attendance-table>
    </section>

    <section class="section-top-card-info" *ngIf="showCourses">
      <app-course-table [currentUser]="currentUser.user"></app-course-table>
    </section>

    <section class="section-middle">
      <div class="profile-left">
        <app-profile-information
          *ngIf="currentUserLoaded"
          [currentUser]="currentUser.user"
        ></app-profile-information>

        <img src="../../../assets/students.jpg" alt="graduation">
      </div>

      <div class="profile-right">
        <app-session-list
          *ngIf="currentUserLoaded"
          [currentUser]="currentUser.user"
        ></app-session-list>
      </div>
    </section>

      <app-student-announcement-list
        *ngIf="currentUserLoaded"
        [currentUser]="currentUser.user"
      ></app-student-announcement-list>
    <app-footer></app-footer>
  </div>
</div>
