<div class="student-component">
  <div class="student-component-container">
    <app-header [currentUser]="currentUser"></app-header>

    <section class="section-top">
      <div class="breadcrumb">
        <h5>Home - {{ currentUser.role }}</h5>
      </div>
  
      <div class="cards">
        <div class="card cards-session">
          <p>Next session</p>
          <p>24.04.2022 - 19:00</p>
        </div>
  
        <div
          class="card cards-grade highlight"
          (click)="toggleGrades()"
          [ngStyle]="{'box-shadow' : showGrades ? '0px 0px 15px 2px #8e8e8e' : 'none'}"
        >
          Average grade<span class="grade-value">4.5</span>
        </div>
  
        <div
          class="card cards-attendance highlight"
          (click)="toggleAttendance()"
          [ngStyle]="{'box-shadow' : showAttendance ? '0px 0px 15px 2px #8e8e8e' : 'none'}"
        >
          Attendance<span class="attendance-value">95</span>%
        </div>
  
        <div
          class="card cards-courses highlight"
          (click)="toggleCourses()"
          [ngStyle]="{'box-shadow' : showCourses ? '0px 0px 15px 2px #8e8e8e' : 'none'}"
        >
          Ongoing courses<span class="course-value">9</span>
        </div>
      </div>
    </section>
  
    <section class="section-top-card-info" *ngIf="showGrades">
      <app-student-grade-list></app-student-grade-list>
    </section>

    <section class="section-top-card-info" *ngIf="showAttendance">
      <app-student-attendance-list></app-student-attendance-list>
    </section>
  
    <section class="section-top-card-info" *ngIf="showCourses">
      <app-student-course-list></app-student-course-list>
    </section>
  
    <section class="section-middle">
      <div class="profile-left">
        <app-profile-information [currentUser]="currentUser"></app-profile-information>
  
        <img src="../../../assets/students.jpg" alt="graduation">
      </div>
  
      <div class="profile-right">
        <app-session-list></app-session-list>
      </div>
    </section>
  
    <app-footer></app-footer>
  </div>
</div>