$blue-text-color: #2a6ee2;
$blue-border: #eeeff4;
$blue-shadow: #d8dbe2;
$lighter-blue-color: #f5f6fa;

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .profile {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;

    fa-icon {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      color: $blue-text-color;

      &.profile-password {
        right: 25px;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    .profile-table {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;

      ul {
        list-style: none;
      }

      li {
        margin-bottom: 0.5rem;

        :last-child {
          margin-bottom: 0;
        }
      }

      .headings {
        font-weight: 900;
        margin-right: 1rem;
      }
    }

    .profile-edit,
    .profile-password {
      h3 {
        color: $blue-text-color;
        margin-bottom: 1rem;
      }

      form,
      input,
      select {
        display: block;
        width: 250px;
        margin-bottom: 0.5rem;
      }

      input,
      select {
        padding: 0.4rem;
        border-radius: 0;
        border: 2px solid $blue-border;
        outline: none;
      }

      input[type=submit] {
        background-color: #fff;
        margin-top: 1rem;
        letter-spacing: .5px;
        font-weight: 600;
        color: $blue-text-color;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(1.025);
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .profile {
    img {
      width: 150px;
      height: 150px;
    }

    &-table p {
      font-size: 0.7rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .profile {
    &-table {
      margin: 1.5rem 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}