<table>
  <tr class="table-header">
    <th
      (click)="toggleMyCourses()"
      [ngStyle]="{'color' : myCourses ? '#2a6ee2' : '#000'}"
    >
      My Courses
    </th>

    <th
      (click)="toggleAllCourses()"
      [ngStyle]="{'color' : allCourses ? '#2a6ee2' : '#000'}"
    >All Courses</th>
  </tr>

  <tr class="table-titles">
    <th>Course</th>
    <th>Description</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Remote</th>
    <th *ngIf="allCourses">Join</th>
  </tr>

  <div class="table-container">
    <app-student-course-item
      *ngFor="let course of courses;"
      [course]="course"
      [allCourses]="allCourses"
    ></app-student-course-item>
  </div>
</table>
