$blue-border: #eeeff4;

table {
  display: block;
  border-collapse: collapse;

  tr {
    border-bottom: 2px solid $blue-border;
  }

  .table-header {
    display: flex;
    justify-content: space-around;

    th {
      padding: 0.5rem 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .table-titles {
    padding: 0.5rem 0;
    padding-right: 2rem;
    display: flex;
    justify-content: space-around;
  }

  .table-container {
    max-height: 200px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 1440px) {
  table {
    .table-header th {
      padding: 0.25rem 1rem;
    }

    .table-titles {
      padding: 0.25rem 0;
    }

    .table-container {
      // max-height: 130px;
      padding: 0.25rem 1rem;
    }
  }
}