$blue-color: #4c84ff;
$blue-text-color: #2a6ee2;
$blue-border: #eeeff4;
$blue-shadow: #d8dbe2;
$light-blue-color: #e2e5ec;
$lighter-blue-color: #f5f6fa;

tr {
  display: flex;
}

td {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

tr:hover {
  background-color: $lighter-blue-color;
}

@media only screen and (max-width: 1440px) {
  td {
    padding: 0.25rem 0;
  }
}