<div class="attendances-component">
  <div class="attendances-component-container">
    <app-header
      *ngIf="currentUserLoaded"
      [currentUser]="currentUser.user"
    ></app-header>

    <section class="section-top">
      <div class="breadcrumb">
        <h5 *ngIf="currentUserLoaded">
          Home - {{ currentUser.user.role }} - Courses
        </h5>
      </div>
    </section>

    <section class="section-middle">
      <h1>Add Grades</h1>

      <div class="info">
        <div>
          <h2>Good to know</h2>
  
          <ul>
            <li>
              <b>Courses - </b>You can only select Courses where you have joined. If you don't see the Course in the List, please join the Course first.
            </li>
            <li>
              <b>Adding - </b>Fill out the Users you would like to add Attendances. If you wish to mark Attendances later to certain Users, you can come back here again and add more.
            </li>
            <li>
              <b>Adding - </b>If you mark Attendance of an User who's Attendance is already marked, then their Attendance will be overwritten by the new Attendance you mark.
            </li>
            <li>
              <b>Remainder - </b>If you wish to View Attendances or Edit a single Attendance, then this can be done in the Marks Dashboard
            </li>
          </ul>
        </div>

        <fa-icon [icon]="faLightbulb"></fa-icon>
      </div>
    </section>

    <app-student-announcement-list
      *ngIf="currentUserLoaded"
      [currentUser]="currentUser.user"
    ></app-student-announcement-list>

    <app-footer></app-footer>
  </div>
</div>