  <div class="clock">
    <div
      class="clock-second"
      [ngStyle]="{
        'animation-delay' : (seconds * 60) * -1 + 's'
      }"
    ></div>
    <div
      class="clock-minute"
      [ngStyle]="{
        'animation-delay' : (minutes * 3600) * -1 + 's'
      }"
    ></div>
    <div
      class="clock-hour"
      [ngStyle]="{
        'animation-delay' : (hours * 43200) * -1 + 's'
      }"
    ></div>
    <div class="clock-axis"></div>
  
    <section
      class="clock-indicator"
      *ngFor="let n of numSequence(60)"
    ></section>
  </div>
